@model IEnumerable<WebLib.Models.AuthorModel>

@{
    bool isView = false;

    if (TempData["IsAdminView"] != null)
    {
        isView = (bool)TempData["IsAdminView"];
    }
}

@if (isView)
{
    <div class="row row-default text-right">
        @Html.ActionLink("Добавить", "Add", "Admin", new { @class = "btn btn-primary" })
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th class="text-center">
                Id
            </th>
            <th class="text-center">
                Фамилия
            </th>
            <th class="text-center">
                Имя
            </th>
            <th class="text-center">
                Отчество
            </th>
            @if (isView)
            {
                <th class="text-center"></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var author in Model)
        {
            <tr>
                <td class="text-center">
                    @author.Id
                </td>
                <td class="text-center">
                    @author.Surname
                </td>
                <td class="text-center">
                    @author.Name
                </td>
                <td class="text-center">
                    @author.Patronymic
                </td>
                @if (isView)
                {
                    <td class="text-center">
                        @Html.ActionLink("Изменить", "Edit", "Admin") |
                        @Html.ActionLink("Удалить", "Delete", "Admin")
                    </td>
                }

            </tr>
        }
    </tbody>
</table>
