@model IEnumerable<WebLib.Models.DepartmentModel>

@{
    bool isView = false;

    if (TempData["IsAdminView"] != null)
    {
        isView = (bool)TempData["IsAdminView"];
    }
}

@if (isView)
{
    <div class="row row-default text-right">
        @Html.ActionLink("Добавить", "AddDepartment", "Admin", new { @class = "btn btn-primary" })
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th class="text-center">
                ID
            </th>
            <th class="text-center">
                Название
            </th>
            <th class="text-center">
                ID библиотеки
            </th>
            @if (isView)
            {
                <th class="text-center"></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model)
        {
            <tr>
                <td class="text-center">
                    @m.Id
                </td>
                <td class="text-center">
                    @m.Name
                </td>
                <td class="text-center">
                    @m.LibraryId
                </td>
                @if (isView)
                {
                    <td class="text-center">
                        @Html.ActionLink("Изменить", "EditDepartment", "Admin", new { id = m.Id }, null) |
                        @Html.ActionLink("Удалить", "DeleteDepartment", "Admin", new { id = m.Id }, null)
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

