@model IEnumerable<WebLib.Models.IssueModel>

@{
    bool isView = false;

    if (TempData["IsAdminView"] != null)
    {
        isView = (bool)TempData["IsAdminView"];
    }
}

<table class="table">
    <thead>
        <tr>
            <th class="text-center">
                ID
            </th>
            <th class="text-center">
                ID книги
            </th>
            <th class="text-center">
                ID читателя
            </th>
            <th class="text-center">
                Дата выдачи
            </th>
            <th class="text-center">
                Дата возврата
            </th>
            @if (isView)
            {
                <th class="text-center"></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model)
        {
            <tr>
                <td class="text-center">
                    @m.Id
                </td>
                <td class="text-center">
                    @m.BookId
                </td>
                <td class="text-center">
                    @m.ReaderId
                </td>
                <td class="text-center">
                    @(m.IssueDate.HasValue ? m.IssueDate.Value.ToShortDateString() : String.Empty)
                </td>
                <td class="text-center">
                    @(m.ReturnDate.HasValue ? m.ReturnDate.Value.ToShortDateString() : String.Empty)
                </td>
                @if (isView)
                {
                    <td class="text-center">
                        @Html.ActionLink("Удалить", "DeleteIssue", "Admin", new { id = m.Id }, null)
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

