
@{
    ViewBag.Title = "Изменение магазина";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model WebLib.Models.ShopModel

@section Sidebar {
    <div class="col-md-2" id="navbar">
        <nav class="sidebar">
            <ul class="list-unstyled navbar-list">
                <li class="navbar-list-item active-nav-item">
                    @Html.ActionLink("Просмотр данных", "Index", "Admin")
                </li>
                <li class="navbar-list-item">
                    @Html.ActionLink("Отмена изменений", "Index", "History")
                </li>
                <li class="navbar-list-item">
                    @Html.ActionLink("Резервное копирование", "Index", "Backup")
                </li>
            </ul>
        </nav>
    </div>
}

<div class="col-md-10 col-md-offset-2">
    <div class="page-wrapper">

        <div class="row row-default">
            <div class="col-md-12">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="@Url.Action( "Shops", "Admin")" class="btn btn-default" style="cursor: pointer;">
                            <i class="fa fa-long-arrow-left"></i> <span style="margin-left: 5px;">Назад</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row row-default">
            <div class="col-md-12">
                @using (Html.BeginForm("AddShop", "Admin", null, FormMethod.Post, new { @style = "padding: 0 15em" }))
                {
                    @Html.HiddenFor(m => m.Id)
                    <div class="control-group col-md-12 pull-left" style="min-height: 100px;">
                        <label class="control-label" for="Name">Название</label>
                        <div class="controls">
                            @Html.TextBoxFor(m => m.Name, new { @id = "Name", @class = "form-control", @style = "min-width: 100%" })
                            <p class="help-block">@Html.ValidationMessageFor(m => m.Name, null, new { @class = "text-danger" })</p>
                        </div>
                    </div>
                    <div class="control-group col-md-12 pull-left" style="min-height: 100px;">
                        <label class="control-label" for="Address">Адрес</label>
                        <div class="controls">
                            @Html.TextBoxFor(m => m.Address, new { @id = "Address", @class = "form-control", @style = "min-width: 100%" })
                            <p class="help-block">@Html.ValidationMessageFor(m => m.Address, null, new { @class = "text-danger" })</p>
                        </div>
                    </div>
                    <div class="control-group col-md-12 pull-left" style="min-height: 100px;">
                        <label class="control-label" for="Phone">Телефон</label>
                        <div class="controls">
                            @Html.TextBoxFor(m => m.Phone, new { @id = "Phone", @class = "form-control", @style = "min-width: 100%" })
                            <p class="help-block">@Html.ValidationMessageFor(m => m.Phone, null, new { @class = "text-danger" })</p>
                        </div>
                    </div>
                    <div class="text-center col-md-12">
                        <button type="submit" class="btn btn-primary btn-block btn-lg">Сохранить</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>