
@model IEnumerable<WebLib.Models.ReaderPages.DepartmentListModel>

    <div class="row row-default">
        <div class="col-md-12">
            @foreach (var lib in Model)
            {
                <div class="panel panel-default" style="margin: 25px 100px">
                    <div class="panel-heading">
                        <strong>@lib.Library.Name</strong>
                    </div>
                    <div class="panel-body">
                        @foreach (var dept in lib.DepartmentsIn)
                        {
                            <ul class="accordion list-group" id="deptsAccordion">
                                <li class="list-group-item">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="@("#collapse-book-" + dept.Id)" aria-expanded="true" aria-controls="@("collapse-book-" + dept.Id)">
                                        @dept.Name
                                    </button>

                                    <div id="@("collapse-book-" + dept.Id)" class="collapse" data-parent="#deptsAccordion" style="margin-top: 20px">
                                        @{ Html.RenderAction("BookSearchByDepartment", "ReaderPage", new { deptId = dept.Id }); }
                                    </div>
                                </li>
                            </ul>
                        }
                    </div>
                </div>
            }
        </div>
    </div>