
@model IEnumerable<WebLib.Models.ReaderPages.LibraryReaderModel>

    <table class="table" id="LibraryListTable">
        <thead>
            <tr>
                <th>
                    Название
                </th>
                <th>
                    Адрес
                </th>
                <th>
                    Телефон
                </th>
                <th>
                    Город
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Count() > 0)
            {
                foreach (var lib in Model)
                {
                    <tr>
                        <td>
                            @lib.Library.Name
                        </td>
                        <td>
                            @lib.Library.Address
                        </td>
                        <td>
                            @lib.Library.Phone
                        </td>
                        <td>
                            @lib.City.Name
                        </td>
                        @if (lib.AbonentStatus == WebLib.Enums.AbonentStatusEnum.Null)
                        {
                            <td>
                                @Html.ActionLink("Записаться", "", "ReaderPage", new { @class = "btn btn-primary btn-xs" })
                            </td>
                        }
                        else
                        {
                            <td>
                                Ваша заявка <strong>@(WebLib.Utils.Enums.GetDescription(lib.AbonentStatus))</strong>
                            </td>
                        }
                    </tr>
                }}
            else
            {
                <tr>
                    <td colspan="5" class="text-center">
                        Нет библиотек
                    </td>
                </tr>
            }
        </tbody>
    </table>