
@{
    ViewBag.Title = "Главная";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model WebLib.Models.ReaderPages.ReaderPageModel

@section Sidebar {
    <div class="col-md-2" id="navbar">
        <nav class="sidebar">
            <ul class="list-unstyled navbar-list">
                <li class="navbar-list-item active-nav-item">
                    @Html.ActionLink("Личные данные", "Index", "ReaderPage")
                </li>
                <li class="navbar-list-item">
                    @Html.ActionLink("Библиотеки", "Libraries", "ReaderPage")
                </li>
                <li class="navbar-list-item">
                    @Html.ActionLink("Поиск книг", "Books", "ReaderPage")
                </li>
            </ul>
        </nav>
    </div>
}

<div class="col-md-10 col-md-offset-2">
    <div class="page-wrapper">

        <div class="row row-default">
            <!--Информация о пользователе-->
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <strong>
                            @Model.Reader.FullName
                        </strong>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <strong>Дата рождения: </strong>@Model.Reader.BirthDateString
                        </li>
                        <li class="list-group-item">
                            <strong>Паспорт: </strong>@Model.Reader.PassSeria @Model.Reader.PassNumber
                        </li>
                        <li class="list-group-item">
                            <strong>Адрес: </strong>@Model.Reader.Address
                        </li>
                        <li class="list-group-item">
                            <strong>Телефон: </strong>@Model.Reader.Phone
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-6">

                <!--Список библиотек-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading text-center">
                                <strong>
                                    Мои библиотеки
                                </strong>
                            </div>
                            <table class="table">
                                <tbody>
                                    @foreach (var lib in Model.Libraries)
                                    {
                                        <tr>
                                            <td>
                                                @lib.Name
                                            </td>
                                            <td>
                                                <a href="">подробнее</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                    <!--Выдачи-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading text-center">
                                    <strong>
                                        Мои выдачи
                                    </strong>
                                </div>
                                <table class="table">
                                    <tbody>
                                        @foreach (var issue in Model.Issues)
                                        {
                                            <tr>
                                                <td>
                                                    @issue.Book.AuthorFullName "@issue.Book.Title"
                                                </td>
                                                <td>
                                                    @(WebLib.Utils.Enums.GetDescription(issue.Status))
                                                </td>
                                            </tr>
                                        }
                                        <tr>
                                            <td colspan="2" class="text-center">
                                                @Html.ActionLink("Подробнее", "Issues", "ReaderPage")
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>