
@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int page = ViewBag.Page;
}

@model WebLib.Models.ReaderPages.ReaderDataModel

@section Sidebar {
    <div class="col-md-2" id="navbar">
        <nav class="sidebar">
            <ul class="list-unstyled navbar-list">
                <li class="navbar-list-item">
                    @Html.ActionLink("Личные данные", "Index", "ReaderPage")
                </li>
                <li class="navbar-list-item">
                    @Html.ActionLink("Библиотеки", "Libraries", "ReaderPage")
                </li>
                <li class="navbar-list-item">
                    @Html.ActionLink("Поиск книг", "Books", "ReaderPage")
                </li>
                <li class="navbar-list-item active-nav-item">
                    @Html.ActionLink("Настройки", "Settings", "ReaderPage")
                </li>
            </ul>
        </nav>
    </div>
}

<div class="col-md-10 col-md-offset-2">
    <div class="page-wrapper">

        <div class="row row-default">
            <div class="col-md-12">
                <ul class="nav nav-tabs">
                    <li class="" id="ReaderData">
                        @Html.ActionLink("Основная информация", "Settings", "ReaderPage", new { page = 1 }, null)
                    </li>
                    <li class="" id="Password">
                        @Html.ActionLink("Смена пароля", "Settings", "ReaderPage", new { page = 2 }, null)
                    </li>
                </ul>
            </div>
        </div>

        @switch (page)
        {
            case 1:
                Html.RenderAction("ChangeInfo", "ReaderPage");
                break;
            case 2:
                Html.RenderAction("ChangePassword", "ReaderPage");
                break;
            default: break;
        }
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var readerData = $("#ReaderData");
        var passwordChange = $("#Password");

        readerData.removeClass("active");
        passwordChange.removeClass("active");

        var page = @ViewBag.Page;

        switch (page) {
            case 1: readerData.addClass("active");
                break;
            case 2: passwordChange.addClass("active");
                break;
            default: break;
        }
    });
</script>