
@model IEnumerable<WebLib.Models.ReaderPages.BookViewModel>

<div class="row row-default">
    @using (Ajax.BeginForm("BookSearch", "ProviderPage", new AjaxOptions { UpdateTargetId = "ByTitleSearch" }, new { @class = "form-inline ml-auto pull-right" }))
    {
        @Html.AntiForgeryToken()
        <input type="text" class="form-control search-input" name="symbols" />
        <input type="submit" class="btn btn-default" value="Поиск" />
    }
</div>

<div id="ByTitleSearch">

    <div class="row row-default">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Автор
                        </th>
                        <th>
                            Название
                        </th>
                        <th>
                            Отдел
                        </th>
                        <th>
                            Библиотека
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Count() > 0)
                    {
                        foreach (var book in Model)
                        {
                    <tr>
                        <td>
                            @book.AuthorFullName
                        </td>
                        <td>
                            "@book.Title"
                        </td>
                        <td>
                            @book.DepartmentName
                        </td>
                        <td>
                            @book.LibraryName
                        </td>
                        <td>
                            @Html.ActionLink("Изменить", "EditBook", "ProviderPage", new { id = book.BookId }, null)
                            | @Html.ActionLink("Удалить", "DeleteBook", "ProviderPage", new { id = book.BookId }, null)
                        </td>
                    </tr>
                        } }
                    else
                    {
                        <tr>
                            <td colspan="4" class="text-center">
                                Нет данных
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>