
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<WebLib.Models.ProviderPages.SupplyViewModel>

@section Sidebar {
    <div class="col-md-2" id="navbar">
        <nav class="sidebar">
            @{Html.RenderAction("SidebarPartial", "ProviderPage");}
            <div class="row">
                <ul class="list-unstyled employee-nav">
                    <li class="navbar-list-item active-nav-item">
                        @Html.ActionLink("Поставки", "Index", "ProviderPage")
                    </li>
                    <li class="navbar-list-item">
                        @Html.ActionLink("Магазины", "Shops", "ProviderPage")
                    </li>
                    <li class="navbar-list-item">
                        @Html.ActionLink("Книги", "Books", "ProviderPage")
                    </li>
                </ul>
            </div>
        </nav>
    </div>
}

<div class="modal fade" id="AddSupplyModal" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>

<div class="col-md-10 col-md-offset-2">
    <div class="page-wrapper">
        <div class="row row-default">
            <div class="col-md-12 text-right">
                <a href="@Url.Action("AddSupply","ProviderPage")" data-toggle="modal" data-target="#AddSupplyModal" class="btn btn-primary">
                    Добавить
                </a>
            </div>
        </div>
        <div class="row row-default">
            <div class="col-md-12">
                <ul class="accordion list-group" id="supplyAccordion" style="margin: 0 100px">
                    @if (Model != null && Model.Count() > 0)
                    {
                        foreach (var supply in Model)
                        {
                            <li class="list-group-item">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="@("#collapse-supply-" + supply.Supply.Id)" aria-expanded="true" aria-controls="@("collapse-supply-" + supply.Supply.Id)">
                                    #@supply.Supply.Id &#8212; @(supply.Supply.Date.HasValue ? supply.Supply.Date.Value.ToShortDateString() : String.Empty)
                                </button>

                                <div id="@("collapse-supply-" + supply.Supply.Id)" class="collapse" data-parent="#supplyAccordion" style="margin-top: 20px; padding: 0 20px;">

                                    <p>
                                        <strong>@supply.Shop.Name</strong>
                                    </p>
                                    <p class="text-muted">
                                        @supply.Shop.Address
                                    </p>
                                    <p>
                                        <small>
                                            @supply.Shop.Phone
                                        </small>
                                    </p>

                                    @{ Html.RenderAction("OrderList", "ProviderPage", new { supplyId = supply.Supply.Id }); }
                                </div>
                            </li>
                        }
                    }
                    else
                    {
                        <li class="list-group-item" style="max-width: 550px">
                            Нет данных
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
