@model WebLib.Models.TempworkModel

@{
    ViewBag.Title = "Выдачи";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Sidebar {
    <div class="col-md-2" id="navbar">
        <nav class="sidebar">
            <ul class="list-unstyled navbar-list">
                <li class="navbar-list-item">
                    @Html.ActionLink("Просмотр данных", "Index", "Admin")
                </li>
                <li class="navbar-list-item active-nav-item">
                    @Html.ActionLink("Отмена изменений", "Index", "History")
                </li>
                <li class="navbar-list-item">
                    @Html.ActionLink("Резервное копирование", "Index", "Backup")
                </li>
            </ul>
        </nav>
    </div>
}

<div class="col-md-10 col-md-offset-2">
    <div class="page-wrapper">

        <div class="row row-default">
            <div class="col-md-12">
                @{Html.RenderAction("IssuesList", "Admin");}
            </div>
        </div>
        <div class="row row-default">
            <div class="col-md-6">
                @Html.ActionLink("Отменить", "IssuesUndo", "History", new { time = Model.Time, step = Model.Step }, new { @class = "btn btn-block btn-default" })
            </div>
            <div class="col-md-6">
                @Html.ActionLink("Повторить", "IssuesRedo", "History", new { time = Model.Time, step = Model.Step }, new { @class = "btn btn-block btn-default" })
            </div>
        </div>
        <div class="row row-default">
            <div class="col-md-12 text-center" ">
                @if (Model.Step == 0)
                {
                    @Html.ActionLink("Сохранить", "Save", "History", new { table = "Issues" }, new { @class = "btn btn-block btn-lg btn-success disabled" })
                }
                else
                {
                    @Html.ActionLink("Сохранить", "Save", "History", new { table = "Issues" }, new { @class = "btn btn-block btn-lg btn-success" })
                }
            </div>
        </div>
    </div>
</div>
