<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top col-md-12" style="background-color: #fff">
        <div class="container-fluid">
            @Html.ActionLink("WebLib", "Index", "Home", new { @class = "navbar-brand" })
            <ul class="nav navbar-nav navbar-right">
                @*<li><a href="../navbar-static-top/">Выход</a></li>*@
            </ul>
        </div>
    </div>

    <div class="body-content">
        <div class="row">


            @RenderBody()

            @RenderSection("scripts", required: false)
            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
        </div>
    </div>
</body>
</html>
